In [741]:
import pandas as pd
import numpy as np
from sklearn import cross_validation
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb
from sklearn.cross_validation import train_test_split
from sklearn.metrics import log_loss

In [742]:
def generateBreedFeatures(data):
    l1=['American Hairless Terrier','American Leopard Hound','Appenzeller Sennenhunde','Azawakh','Barbet',
        'Basset Fauve de Bretagne','Belgian Laekenois','Biewer Terrier','Bolognese','Bracco Italiano',
        'Braque du Bourbonnais','Broholmer','Catahoula Leopard Dog','Caucasian Ovcharka','Central Asian Shepherd Dog',
        'Czechoslovakian Vlcak','Danish-Swedish Farmdog','Deutscher Wachtelhund','Dogo Argentino',
        'Drentsche Patrijshond','Drever','Dutch Shepherd','Estrela Mountain Dog','Eurasier','French Spaniel',
        'German Longhaired Pointer','German Spitz','Grand Basset Griffon Vendeen','Hamiltonstovare','Hovawart',
        'Jagdterrier','Jindo','Kai Ken','Karelian Bear Dog','Kishu Ken','Kromfohrlander','Lancashire Heeler',
        'Mudi','Nederlandse Kooikerhondje','Norrbottenspets','Perro de Presa Canario','Peruvian Inca Orchid',
        'Portuguese Podengo','Portuguese Pointer','Portuguese Sheepdog','Pumi','Pyrenean Mastiff',
        'Rafeiro do Alentejo','Russian Toy','Russian Tsvetnaya Bolonka','Schapendoes','Shikoku',
        'Slovensky Cuvac','Slovensky Kopov','Sloughi','Small Munsterlander Pointer','Spanish Mastiff',
        'Stabyhoun','Swedish Lapphund','Thai Ridgeback','Tornjak','Tosa','Transylvanian Hound',
        'Treeing Tennessee Brindle','Working Kelpie','Australian Cattle Dog','Australian Shepherd',
        'Bearded Collie','Beauceron','Belgian Malinois','Belgian Sheepdog','Belgian Tervuren','Bergamasco',
        'Berger Picard','Border Collie','Bouvier des Flandres','Briard','Canaan Dog','Cardigan Welsh Corgi',
        'Collie','Entlebucher Mountain Dog','Finnish Lapphund','German Shepherd Dog','Icelandic Sheepdog',
        'Miniature American Shepherd','Norwegian Buhund','Old English Sheepdog','Pembroke Welsh Corgi',
        'Polish Lowland Sheepdog','Puli','Pyrenean Shepherd','Shetland Sheepdog','Spanish Water Dog',
        'Swedish Vallhund','Afghan Hound','American English Coonhound','American Foxhound','Basenji',
        'Basset Hound','Beagle','Black and Tan Coonhound','Bloodhound','Bluetick Coonhound','Borzoi',
        'Cirneco de l etna','Dachshund','English Foxhound','Greyhound','Harrier','Ibizan Hound','Irish Wolfhound',
        'Norwegian Elkhound','Otterhound','Petit Basset Griffon Vendeen','Pharaoh Hound','Plott',
        'Portuguese Podengo Pequeno','Redbone Coonhound','Rhodesian Ridgeback','Saluki','Scottish Deerhound',
        'Treeing Walker Coonhound','Whippet','American Eskimo Dog','Bichon Frise','Boston Terrier','Bulldog',
        'Chinese Shar-Pei','Chow Chow','Coton de Tulear','Dalmatian','Finnish Spitz','French Bulldog','Keeshond',
        'Lhasa Apso','Lowchen','Norwegian Lundehund','Poodle','Schipperke','Shiba Inu','Tibetan Spaniel',
        'Tibetan Terrier','Xoloitzcuintli','American Water Spaniel','Boykin Spaniel','Brittany',
        'Chesapeake Bay Retriever','Clumber Spaniel','Cocker Spaniel','Curly-Coated Retriever',
        'English Cocker Spaniel','English Setter','English Springer Spaniel','Field Spaniel',
        'Flat-Coated Retriever','German Shorthaired Pointer','German Wirehaired Pointer','Golden Retriever',
        'Gordon Setter','Irish Red and White Setter','Irish Setter','Irish Water Spaniel','Labrador Retriever',
        'Lagotto Romagnolo','Nova Scotia Duck Tolling Retriever','Pointer','Spinone Italiano','Sussex Spaniel',
        'Vizsla','Weimaraner','Welsh Springer Spaniel','Wirehaired Pointing Griffon','Wirehaired Vizsla',
        'Airedale Terrier','American Staffordshire Terrier','Australian Terrier','Bedlington Terrier',
        'Border Terrier','Bull Terrier','Cairn Terrier','Cesky Terrier','Dandie Dinmont Terrier',
        'Glen of Imaal Terrier','Irish Terrier','Kerry Blue Terrier','Lakeland Terrier','Manchester Terrier',
        'Miniature Bull Terrier','Miniature Schnauzer','Norfolk Terrier','Norwich Terrier','Parson Russell Terrier',
        'Rat Terrier','Russell Terrier','Scottish Terrier','Sealyham Terrier','Skye Terrier','Smooth Fox Terrier',
        'Soft Coated Wheaten Terrier','Staffordshire Bull Terrier','Welsh Terrier','West Highland White Terrier',
        'Wire Fox Terrier','Affenpinscher','Brussels Griffon','Cavalier King Charles Spaniel','Chihuahua',
        'Chinese Crested','English Toy Spaniel','Havanese','Italian Greyhound','Japanese Chin','Maltese',
        'Miniature Pinscher','Papillon','Pekingese','Pomeranian','Pug','Shih Tzu','Silky Terrier','Toy Fox Terrier',
        'Yorkshire Terrier','Akita','Alaskan Malamute','Anatolian Shepherd Dog','Bernese Mountain Dog',
        'Black Russian Terrier','Boerboel','Boxer','Bullmastiff','Cane Corso','Chinook','Doberman Pinscher',
        'Dogue de Bordeaux','German Pinscher','Giant Schnauzer','Great Dane','Great Pyrenees',
        'Greater Swiss Mountain Dog','Komondor','Kuvasz','Leonberger','Mastiff','Neapolitan Mastiff','Newfoundland',
        'Portuguese Water Dog','Rottweiler','Samoyed','Siberian Husky','Standard Schnauzer','Tibetan Mastiff',
        'St. Bernard']
    l2=['FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS',
        'FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS',
        'FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS',
        'FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','FSS','Herding','Herding','Herding','Herding',
        'Herding','Herding','Herding','Herding','Herding','Herding','Herding','Herding','Herding','Herding','Herding',
        'Herding','Herding','Herding','Herding','Herding','Herding','Herding','Herding','Herding','Herding','Herding',
        'Herding','Herding','Herding','Hound','Hound','Hound','Hound','Hound','Hound','Hound','Hound','Hound','Hound',
        'Hound','Hound','Hound','Hound','Hound','Hound','Hound','Hound','Hound','Hound','Hound','Hound','Hound',
        'Hound','Hound','Hound','Hound','Hound','Hound','Non_sporting','Non_sporting','Non_sporting','Non_sporting',
        'Non_sporting','Non_sporting','Non_sporting','Non_sporting','Non_sporting','Non_sporting','Non_sporting',
        'Non_sporting','Non_sporting','Non_sporting','Non_sporting','Non_sporting','Non_sporting','Non_sporting',
        'Non_sporting','Non_sporting','Sporting','Sporting','Sporting','Sporting','Sporting','Sporting','Sporting',
        'Sporting','Sporting','Sporting','Sporting','Sporting','Sporting','Sporting','Sporting','Sporting','Sporting',
        'Sporting','Sporting','Sporting','Sporting','Sporting','Sporting','Sporting','Sporting','Sporting','Sporting',
        'Sporting','Sporting','Sporting','Terrier','Terrier','Terrier','Terrier','Terrier','Terrier','Terrier',
        'Terrier','Terrier','Terrier','Terrier','Terrier','Terrier','Terrier','Terrier','Terrier','Terrier','Terrier',
        'Terrier','Terrier','Terrier','Terrier','Terrier','Terrier','Terrier','Terrier','Terrier','Terrier','Terrier',
        'Terrier','Toy','Toy','Toy','Toy','Toy','Toy','Toy','Toy','Toy','Toy','Toy','Toy','Toy','Toy','Toy','Toy',
        'Toy','Toy','Toy','Working','Working','Working','Working','Working','Working','Working','Working','Working',
        'Working','Working','Working','Working','Working','Working','Working','Working','Working','Working','Working',
        'Working','Working','Working','Working','Working','Working','Working','Working','Working','Working']
    
    l3=pd.DataFrame(l1)
    l3['breed1']=pd.DataFrame(l1)
    l3['Group']=pd.DataFrame(l2)
    l3.drop(0,axis=1,inplace=True)
    l3['breed1']=l3['breed1'].str.upper()
    
    data=pd.merge(data, l3, on = 'breed1',how='left')
    
    l1=['Akita','Alaskan Malamute','Anatolian Shepherd Dog','Argentine Dogo','Beauceron','Bernese Mountain Dog',
        'Black Russian Terrier','Bloodhound','Borzoi','Bouvier des Flandres','Briard','Bullmastiff','Cane Corso',
        'Caucasian Ovcharka','Central Asian Shepherd Dog','Curly-Coated Retriever','Doberman Pinsch','Greyhound',
        'Otterhounds','Spinone Italiano','Afghan Hound','Airedale Terrier','American Foxhound',
        'American Staffordshire Terrier','Appenzeller Sennenhunde','Belgian Sheepdog','Belgian Tervuren',
        'Bergamasco','Black and Tan Coonhound','Bluetick Coonhound','Boxer','Bracco Italiano','Catahoula Leopard',
        'Chesapeake Bay Retriever','Chinook','Clumber Spaniel','English Setter','Flat Coat Retriever',
        'German Shorthaired Pointer','German Wirehaired Pointer','Golden Retrievers','Gordon Setters',
        'Irish Red and White Setters','Irish Setters','Labrador Retriever','The Standard Poodle','Redbone Coonhound',
        'Thai Ridgeback','Weimaraner','American English Coonhound','Australian Shepherd','Azawakh','Basset Hound',
        'Bearded Collie','Belgian Laekenois','Belgian Malinois','Bull Terrier','Bulldog','Chinese Sharpei',
        'Chow Chow','Collie','Dalmatian','English Springer Spaniel','Entlebucher Mountain Dog','Field Spaniel',
        'Finnish Lapphund','Grand Basset Griffon Vendéen','Harrier','Ibizan Hounds','Irish Water Spaniels',
        'Keeshond','Norwegian Elkhound','Nova Scotia Duck Tolling Retriever','The Pharaoh Hound','The Plott',
        'The Pointer','Portuguese Podengo','The Saluki','Samoyed','Siberian Husky','Sloughis','Stabyhouns',
        'Sussex Spaniel','Treeing Walker Coonhound','Vizslas','Wirehaired Pointing Griffon','Basenji','Beagle',
        'Cardigan Welsh Corgi','Cocker Spaniel','Dandie Dinmont Terrier','English Cocker Spaniel','Finnish Spitz',
        'German Pinscher','Kai Kens','Kerry Blue Terriers','Miniature Bull Terrier','Norwegian Buhunds',
        'Pembroke Welsh Corgi','Petit Bassett Griffon Vendeen','Polish Lowland Sheepdog','Portuguese Podengo (Medio)',
        'Portuguese Water Dog','Pyrenean Shepherd','Sealyham Terrier','Shetland Sheepdog','Skye Terrier',
        'Soft Coated Wheaten Terrier','Spanish Water Dogs','Staffordshire Bull Terrier','Standard Schnauzer',
        'Tibetan Terrier','Treeing Tennessee Brindle','Welsh Springer Spaniel','West Highland White Terrier',
        'Whippet','Wire Fox Terrier','Affenpinscher','American Eskimo','Miniature American Eskimo',
        'Toy American Eskimo','Australian Terrier','Bichon Frise','Bolognese','Border Terrier','Boston Terrier',
        'Brussels Griffon','Cairn Terrier','Cavalier King Charles Spaniel','Cesky Terrier','Chihuahua',
        'Chinese Crested','Coton de Tulear','Dachshund','English Toy Spaniel','French Bulldog','Havanese',
        'Italian Greyhound','Japanese Chin','Lancashire Heeler','Lhasa Apso','Lowchen','Maltese','Manchester Terrier',
        'Standard Manchester Terrier','Toy Manchester Terrier','Miniature Pinscher','Miniature Schnauzer',
        'Norfolk Terrier','Norwich Terrier','Papillon','Parson Russell Terrier','Pekingese','Pomeranian','Poodle',
        'Miniature Poodle','Toy Poodle','Portuguese Podengo (Pequeno)','Pug','Rat Terrier','Schipperke',
        'Scottish Terrier','Shiba Inu','Shih Tzu','Silky Terrier','Smooth Fox Terrier','Tibetan Spaniel',
        'Toy Fox Terrier','Yorkshire Terrier','Xoloitzcuintli']

    l2=['Large','Large','Large','Large','Large','Large','Large','Large','Large','Large','Large','Large','Large',
        'Large','Large','Large','Large','Large','Large','Medium Large','Medium Large','Medium Large','Medium Large',
        'Medium Large','Medium Large','Medium Large','Medium Large','Medium Large','Medium Large','Medium Large',
        'Medium Large','Medium Large','Medium Large','Medium Large','Medium Large','Medium Large','Medium Large',
        'Medium Large','Medium Large','Medium Large','Medium Large','Medium Large','Medium Large','Medium Large',
        'Medium Large','Medium Large','Medium Large','Medium Large','Medium','Medium','Medium','Medium','Medium',
        'Medium','Medium','Medium','Medium','Medium','Medium','Medium','Medium','Medium','Medium','Medium','Medium',
        'Medium','Medium','Medium','Medium','Medium','Medium','Medium','Medium','Medium','Medium','Medium','Medium',
        'Medium','Medium','Medium','Medium','Medium','Medium','Medium','Medium','Small Medium','Small Medium',
        'Small Medium','Small Medium','Small Medium','Small Medium','Small Medium','Small Medium','Small Medium',
        'Small Medium','Small Medium','Small Medium','Small Medium','Small Medium','Small Medium','Small Medium',
        'Small Medium','Small Medium','Small Medium','Small Medium','Small Medium','Small Medium','Small Medium',
        'Small Medium','Small Medium','Small Medium','Small Medium','Small Medium','Small Medium','Small Medium',
        'Small Medium','Small Medium','Small','Small','Small','Small','Small','Small','Small','Small','Small',
        'Small','Small','Small','Small','Small','Small','Small','Small','Small','Small','Small','Small','Small',
        'Small','Small','Small','Small','Small','Small','Small','Small','Small','Small','Small','Small','Small',
        'Small','Small','Small','Small','Small','Small','Small','Small','Small','Small','Small','Small','Small',
        'Small','Small','Small','Small','Small']
    
    l3=pd.DataFrame(l1)
    l3['breed1']=pd.DataFrame(l1)
    l3['size']=pd.DataFrame(l2)
    l3.drop(0,axis=1,inplace=True)
    l3['breed1']=l3['breed1'].str.upper()
    
    data=pd.merge(data, l3, on = 'breed1',how='left')
    print data

In [743]:
def getAge(x):
    if pd.notnull(x):
        value = int(x.split(' ')[0])
        if x.endswith('day') or x.endswith('days'):
            return value
        if x.endswith('weeks') or x.endswith('week'):
            return value*7
        if x.endswith('month') or x.endswith('months'):
            return value*30
        if x.endswith('year') or x.endswith('years'):
            return value*365
    return -1

def cleanBreed(x):
    x = x.replace('Mix','')
    x = x.replace('Shorthair','')
    x = x.replace('Medium Hair','')
    x = x.replace('Longhair','')
    x = x.replace('  ',' ')
    x = x.replace('   ',' ')
    x = x.replace('    ',' ')
    x = x.strip()
    
    return x

def cleanColor(x):
    x = x.replace('Tabby','')
    x = x.replace('  ',' ')
    x = x.replace('   ',' ')
    x = x.replace('    ',' ')
    x = x.strip()
    
    return x

def splitBreed(x, i):
    x = x.split('/')
    if len(x) >= (i+1):
        return x[i]
    return 'null'

def getHairType(x):
    if pd.notnull(x) and 'Shorthair' in x:
        return 1
    if pd.notnull(x) and 'Medium Hair' in x:
        return 2
    if pd.notnull(x) and 'Longhair' in x:
        return 3
    return -1

def getDayPeriod(x):
    if x.hour < 6:
        return 0
    if x.hour >= 6 and x.hour < 12:
        return 1
    if x.hour >= 12 and x.hour < 18:
        return 2
    if x.hour >= 18:
        return 3
    return -1

def getSeason(x):
    if 4<=x<=6:
        return 1
    if 7<=x<=9:
        return 2
    if 10<=x<=12:
        return 3
    else:
        return 0
    
def getHolidays(day, month):
    #confederate Heroes
    if month==1 and day==19:
        return 1
    #Texas Independance
    if month==3 and day==2:
        return 2
    #San Jacinto Day        
    if month==4 and day==21:
        return 3                  
    #Mothers Day        
    if month==5 and day==10:
        return 4              
    #Emancipation Day        
    if month==6 and day==19:
        return 5
    #Fathers Day        
    if month==6 and 18<=day<=22:
        return 6
    #Lyndon day       
    if month==8 and day==27:
        return 7
    #Veterans day       
    if month==11 and day==11:
        return 8
    #ThanksGiving                    
    if month==11 and 25<=day<=27:
        return 9
    #Christmas                    
    if month==12 and 23<=day<=27:
        return 10
    return 0

In [744]:
def generate_features(data, train = False):
    if train:
        data.drop('OutcomeSubtype', axis=1, inplace=True)
        
    ###### RETIRANDO O OUTCOMESUBTYPE O NAME DO TREINO E TESTE ######
    data['has_name'] = data['Name'].apply(lambda x :  pd.notnull(x) )
    data.drop(['Name'], axis=1, inplace=True)
    
    #Date
    data['DateTime'] = data['DateTime'].apply(lambda x : pd.tslib.Timestamp(x, tz=None))
    data['day'] = data['DateTime'].apply(lambda x : x.day)
    data['month'] = data['DateTime'].apply(lambda x : x.month)
    data['year'] = data['DateTime'].apply(lambda x : x.year)
    data['hour'] = data['DateTime'].apply(lambda x : x.hour)
    data['minute'] = data['DateTime'].apply(lambda x : x.minute)
    data['day_of_week'] = data['DateTime'].apply(lambda x : x.weekday())
    data['weekday'] = data['DateTime'].apply(lambda x : x.weekday() < 5)
    data['working_hour'] = data['DateTime'].apply(lambda x : x.hour >= 8 and x.hour <= 18)
    data['madrugada'] = data['DateTime'].apply(lambda x : x.hour < 6)
    data['manha'] = data['DateTime'].apply(lambda x : x.hour >= 6 and x.hour < 12)
    data['tarde'] = data['DateTime'].apply(lambda x : x.hour >= 12 and x.hour < 18)
    data['noite'] = data['DateTime'].apply(lambda x : x.hour >= 18)
    data['quarter'] = data['DateTime'].apply(lambda x : x.quarter)#<<<
    data['weekofyear'] = data['DateTime'].apply(lambda x : x.weekofyear)#<<<
    data['season'] = data['month'].apply(lambda x : getSeason(x))#<<<
    data['holiday'] = data['DateTime'].apply(lambda x : getHolidays(x.day, x.month))#<<<
    '''
    data['day_period'] = data['DateTime'].apply(lambda x : getDayPeriod(x))
    '''
    data.drop(['DateTime'], axis=1, inplace=True)
    
    #Age
    data['age'] = data['AgeuponOutcome'].apply(lambda x : getAge(x))
    data['puppy'] = data['age'].apply(lambda x : x <= 365)
    data['adolescence'] = data['age'].apply(lambda x : x > 365 and x <= 730)
    data['adulthood'] = data['age'].apply(lambda x : x > 730 and x <= 2920)
    data['senior'] = data['age'].apply(lambda x : x > 2920)
    data.drop(['AgeuponOutcome'], axis=1, inplace=True)
    
    #Sex
    data['male'] = data['SexuponOutcome'].apply(lambda x : pd.notnull(x) and x.endswith('Male'))
    data['female'] = data['SexuponOutcome'].apply(lambda x : pd.notnull(x) and x.endswith('Female'))
    data['castrated'] = data['SexuponOutcome'].apply(lambda x : pd.notnull(x) and (x.startswith('Spayed') 
                                                                                   or x.startswith('Neutered')))
    data.drop(['SexuponOutcome'], axis=1, inplace=True)
    '''
    data['sex'] = data['SexuponOutcome'].apply(lambda x : 1 if pd.notnull(x) and x.endswith('Male') else 0)
    data['intact'] = data['SexuponOutcome'].apply(lambda x : pd.notnull(x) and x.startswith('Intact'))
    data['spayed'] = data['SexuponOutcome'].apply(lambda x : pd.notnull(x) and x.startswith('Spayed'))
    data['neutered'] = data['SexuponOutcome'].apply(lambda x : pd.notnull(x) and x.startswith('Neutered'))
    data.drop(['SexuponOutcome'], axis=1, inplace=True)
    '''
    
    #Breed
    
    data['mix'] = data['Breed'].apply(lambda x : pd.notnull(x) and x.endswith('Mix'))
    data['shorthair'] = data['Breed'].apply(lambda x : pd.notnull(x) and 'Shorthair' in x)
    data['mediumhair'] = data['Breed'].apply(lambda x : pd.notnull(x) and 'Medium Hair' in x)
    data['longhair'] = data['Breed'].apply(lambda x : pd.notnull(x) and 'Longhair' in x)
    '''
    data['mix'] = data['Breed'].apply(lambda x : pd.notnull(x) and x.endswith('Mix'))
    data['hair'] = data['Breed'].apply(lambda x : getHairType(x))
    '''
    data['Breed'] = data['Breed'].apply(lambda x : cleanBreed(x))
    data['breed1'] = data['Breed'].apply(lambda x : splitBreed(x, 0).upper())
    data['breed2'] = data['Breed'].apply(lambda x : splitBreed(x, 1).upper())
    data.drop(['Breed'], axis=1, inplace=True)
    
    #Color
    data['tabby'] = data['Color'].apply(lambda x : pd.notnull(x) and 'Tabby' in x)
    data['Color'] = data['Color'].apply(lambda x : cleanColor(x))
    data['color1'] = data['Color'].apply(lambda x : splitBreed(x, 0))
    data['color2'] = data['Color'].apply(lambda x : splitBreed(x, 1))
    data['unicolor'] = data['color2'].apply(lambda x : x == 'null')#<<<
    
    
    data.drop(['Color'], axis=1, inplace=True)

Lendo os arquivos do treino e test. <br />
Biblioteca utilizada: <br />
Pandas: http://pandas.pydata.org/<br />
Função utilizada: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

In [745]:
train = pd.read_csv('input/train.csv', index_col='AnimalID')
test = pd.read_csv('input/test.csv', index_col='ID')

In [746]:
def getValueFrequency(group, counts, outcomeType, date):
    g = group.xs((outcomeType, date), level=('OutcomeType', 'Date'))['DateTime']
    if g.values.size > 0:
        val = g.values[0]
        return val/(counts[date] * 1.0)
    return 0

def setDate(x):
    x = x.date().replace(day=1)
    return x

def generateFrequencyFeatures(data, test):
    data['DateTime'] = data['DateTime'].apply(lambda x : pd.tslib.Timestamp(x, tz=None))
    data['Date'] = data['DateTime'].apply(lambda x : setDate(x))
    
    test['DateTime'] = test['DateTime'].apply(lambda x : pd.tslib.Timestamp(x, tz=None))
    test['Date'] = test['DateTime'].apply(lambda x : setDate(x))
    
    counts = data['Date'].value_counts()
    data['outcomes'] = data['Date'].apply(lambda x : counts[x]/(len(data) * 1.0))
    test['outcomes'] = test['Date'].apply(lambda x : counts[x]/(len(test) * 1.0))
    
    group = data.groupby(['Date', 'OutcomeType']).count()
    data['Transfer'] = data['Date'].apply(lambda x,g=group,c=counts : getValueFrequency(g, c, 'Transfer', x))
    test['Transfer'] = test['Date'].apply(lambda x,g=group,c=counts : getValueFrequency(g, c, 'Transfer', x))
    data['Return_to_owner'] = data['Date'].apply(lambda x,g=group,c=counts : getValueFrequency(g, c, 'Return_to_owner', x))
    test['Return_to_owner'] = test['Date'].apply(lambda x,g=group,c=counts : getValueFrequency(g, c, 'Return_to_owner', x))
    data['Euthanasia'] = data['Date'].apply(lambda x,g=group,c=counts : getValueFrequency(g, c, 'Euthanasia', x))
    test['Euthanasia'] = test['Date'].apply(lambda x,g=group,c=counts : getValueFrequency(g, c, 'Euthanasia', x))
    data['Adoption'] = data['Date'].apply(lambda x,g=group,c=counts : getValueFrequency(g, c, 'Adoption', x))
    test['Adoption'] = test['Date'].apply(lambda x,g=group,c=counts : getValueFrequency(g, c, 'Adoption', x))
    data['Died'] = data['Date'].apply(lambda x,g=group,c=counts : getValueFrequency(g, c, 'Died', x))
    test['Died'] = test['Date'].apply(lambda x,g=group,c=counts : getValueFrequency(g, c, 'Died', x))
    
    
    #data['outcomes'] = data['Date'].apply(lambda x : data[data['Date'] == x].size)
    #data.drop(['Date'], axis=1, inplace=True)
    #test.drop(['Date'], axis=1, inplace=True)

In [747]:
train['Breed'] = train['Breed'].apply(lambda x : cleanBreed(x))
train['breed1'] = train['Breed'].apply(lambda x : splitBreed(x, 0).upper())
train['breed2'] = train['Breed'].apply(lambda x : splitBreed(x, 1).upper())
generateBreedFeatures(train)

             Name             DateTime      OutcomeType OutcomeSubtype  \
0         Hambone  2014-02-12 18:22:00  Return_to_owner            NaN
1           Emily  2013-10-13 12:44:00       Euthanasia      Suffering
2          Pearce  2015-01-31 12:28:00         Adoption         Foster
3             NaN  2014-07-11 19:09:00         Transfer        Partner
4             NaN  2013-11-15 12:52:00         Transfer        Partner
5            Elsa  2014-04-25 13:04:00         Transfer        Partner
6           Jimmy  2015-03-28 13:11:00         Transfer        Partner
7             NaN  2015-04-30 17:02:00         Transfer        Partner
8            Lucy  2014-02-04 17:17:00         Adoption            NaN
9             NaN  2014-05-03 07:48:00         Adoption        Offsite
10            NaN  2013-12-05 15:50:00         Transfer           SCRP
11            NaN  2013-11-04 14:48:00         Adoption            NaN
12         Rocket  2016-02-03 11:27:00         Adoption         Foster
13        Scooter  2015-06-08 16:30:00  Return_to_owner            NaN
14        Preston  2015-11-25 15:00:00  Return_to_owner            NaN
15         Oliver  2014-07-12 12:10:00         Adoption         Foster
16            NaN  2014-05-03 16:15:00         Transfer        Partner
17            NaN  2014-06-07 12:54:00         Transfer        Partner
18        Chrissy  2014-05-17 11:32:00         Transfer        Partner
19           Kuma  2014-07-30 17:34:00  Return_to_owner            NaN
20         Anders  2014-01-19 15:03:00         Transfer        Partner
21       Munchkin  2015-09-18 15:19:00         Transfer        Partner
22        Jamaica  2015-08-15 14:22:00         Adoption            NaN
23        Quattro  2013-10-28 16:32:00         Adoption            NaN
24        Trigger  2014-04-09 17:44:00  Return_to_owner            NaN
25          Olive  2015-10-03 15:44:00         Transfer        Partner
26            Nia  2016-01-15 17:31:00         Adoption            NaN
27          Chloe  2015-03-25 18:50:00         Adoption            NaN
28        Cymbale  2015-11-21 13:01:00         Adoption            NaN
29            Jax  2015-07-30 14:30:00  Return_to_owner            NaN
...           ...                  ...              ...            ...
26699       Mario  2014-04-21 14:01:00       Euthanasia       Behavior
26700        Lion  2015-06-15 19:28:00  Return_to_owner            NaN
26701        Ella  2014-06-15 17:41:00         Transfer        Partner
26702         NaN  2015-10-11 09:42:00             Died      In Kennel
26703      Mowmow  2015-12-04 12:22:00         Transfer        Partner
26704       Alice  2015-11-17 17:17:00         Transfer        Partner
26705       Grace  2013-10-19 15:34:00         Transfer        Partner
26706        Zoey  2014-10-19 13:29:00         Adoption            NaN
26707         NaN  2014-07-01 17:06:00       Euthanasia      Suffering
26708      Herbie  2013-11-13 17:32:00         Transfer        Partner
26709         NaN  2015-10-24 00:00:00         Adoption            NaN
26710      Bonnie  2014-11-24 17:21:00         Transfer        Partner
26711       Sonja  2013-10-30 18:32:00         Transfer        Partner
26712      Merlin  2015-04-20 16:04:00  Return_to_owner            NaN
26713         NaN  2014-01-20 17:37:00       Euthanasia      Suffering
26714        Pete  2014-05-31 16:11:00         Adoption            NaN
26715        Luna  2015-08-05 17:03:00         Adoption            NaN
26716         Max  2015-05-02 21:04:00         Adoption        Offsite
26717       Bella  2014-06-30 17:34:00  Return_to_owner            NaN
26718         NaN  2015-04-28 14:26:00         Adoption            NaN
26719         NaN  2015-07-20 09:00:00         Transfer           SCRP
26720     Brownie  2015-07-18 14:08:00         Adoption            NaN
26721  Green Bean  2014-07-17 09:43:00         Adoption         Foster
26722         NaN  2014-08-31 09:00:00         Transfer           SCRP
26723        Zeus  2016-01-29 18:52:00         Adoption            NaN
26724         NaN  2015-05-14 11:56:00         Transfer        Partner
26725         NaN  2016-01-20 18:59:00         Transfer           SCRP
26726        Zeus  2015-03-09 13:33:00         Adoption            NaN
26727         NaN  2014-04-27 12:22:00         Transfer        Partner
26728         NaN  2015-07-02 09:00:00         Transfer           SCRP

      AnimalType SexuponOutcome AgeuponOutcome  \
0            Dog  Neutered Male         1 year
1            Cat  Spayed Female         1 year
2            Dog  Neutered Male        2 years
3            Cat    Intact Male        3 weeks
4            Dog  Neutered Male        2 years
5            Dog  Intact Female        1 month
6            Cat    Intact Male        3 weeks
7            Cat        Unknown        3 weeks
8            Dog  Spayed Female       5 months
9            Dog  Spayed Female         1 year
10           Cat        Unknown        2 years
11           Dog  Spayed Female        2 years
12           Dog  Neutered Male        4 years
13           Dog  Neutered Male        2 years
14           Dog  Neutered Male         1 year
15           Cat  Neutered Male       3 months
16           Cat    Intact Male        3 weeks
17           Dog  Intact Female        2 weeks
18           Cat  Intact Female        2 years
19           Dog  Neutered Male         1 year
20           Dog    Intact Male       2 months
21           Cat  Spayed Female         1 year
22           Dog  Spayed Female        2 years
23           Dog  Neutered Male      10 months
24           Dog  Neutered Male       2 months
25           Cat  Intact Female        1 month
26           Dog  Spayed Female       6 months
27           Dog  Spayed Female        5 years
28           Cat  Spayed Female       2 months
29           Cat  Neutered Male        7 years
...          ...            ...            ...
26699        Dog  Neutered Male        2 years
26700        Dog    Intact Male      10 months
26701        Dog  Intact Female      11 months
26702        Cat  Spayed Female        2 years
26703        Cat  Neutered Male        6 years
26704        Cat  Intact Female        4 weeks
26705        Cat  Intact Female       2 months
26706        Cat  Spayed Female       2 months
26707        Cat        Unknown         1 year
26708        Dog  Neutered Male        2 years
26709        Dog  Spayed Female        1 month
26710        Dog  Intact Female        1 month
26711        Dog  Intact Female         1 year
26712        Dog  Neutered Male       12 years
26713        Cat  Intact Female       18 years
26714        Cat  Spayed Female       2 months
26715        Dog  Spayed Female       2 months
26716        Dog  Neutered Male       2 months
26717        Dog  Spayed Female        9 years
26718        Dog  Neutered Male       2 months
26719        Cat        Unknown        2 years
26720        Cat  Spayed Female       2 months
26721        Cat  Spayed Female        5 years
26722        Cat    Intact Male       5 months
26723        Dog  Neutered Male        6 years
26724        Cat    Intact Male        1 month
26725        Cat  Spayed Female       3 months
26726        Dog  Neutered Male        4 years
26727        Cat    Intact Male        4 weeks
26728        Cat    Intact Male         1 year

                                Breed                Color  \
0                   Shetland Sheepdog          Brown/White
1                            Domestic          Cream Tabby
2                            Pit Bull           Blue/White
3                            Domestic           Blue Cream
4         Lhasa Apso/Miniature Poodle                  Tan
5             Cairn Terrier/Chihuahua            Black/Tan
6                            Domestic           Blue Tabby
7                            Domestic          Brown Tabby
8           American Pit Bull Terrier            Red/White
9                       Cairn Terrier                White
10                           Domestic                Black
11                Miniature Schnauzer               Silver
12                           Pit Bull                Brown
13                  Yorkshire Terrier            Black/Red
14                     Great Pyrenees          White/Cream
15                           Domestic   Orange Tabby/White
16                           Domestic          Brown Tabby
17                           Pit Bull          Brown/White
18                             Angora                White
19                Flat Coat Retriever                Black
20                  Queensland Heeler          Black/White
21                           Domestic                White
22                  Plott Hound/Boxer  Brown Brindle/White
23                    German Shepherd          Brown/White
24                    German Shepherd          Black/Brown
25                           Domestic         Orange Tabby
26     American Staffordshire Terrier      Chocolate/White
27                          Chihuahua            White/Tan
28                           Domestic    Cream Tabby/White
29                       Russian Blue                 Blue
...                               ...                  ...
26699       American Pit Bull Terrier          White/Black
26700  Great Pyrenees/Anatol Shepherd            Tan/Cream
26701            Jack Russell Terrier          White/Black
26702                         Siamese           Lynx Point
26703                        Domestic           Seal Point
26704                        Domestic          White/Black
26705                        Domestic               Tortie
26706                        Domestic                Black
26707                        Domestic          Brown Tabby
26708                       Chihuahua          White/Brown
26709                       Chihuahua           Sable/Buff
26710    Chihuahua /Yorkshire Terrier          Brown/Black
26711        Cocker Spaniel/Dachshund                 Buff
26712                     Rat Terrier        Chocolate/Tan
26713                        Domestic               Tortie
26714                        Domestic         Orange Tabby
26715                         Pointer          Black/White
26716                    Newfoundland          White/Black
26717                     Bullmastiff                Black
26718  Siberian Husky/German Shepherd       Black/Tricolor
26719                        Domestic    Brown Tabby/White
26720                        Domestic          Brown Tabby
26721                        Domestic                Black
26722                        Domestic         Orange Tabby
26723                   Staffordshire           Blue/White
26724                        Domestic    Brown Tabby/White
26725                        Domestic          Brown Tabby
26726             Old English Bulldog            White/Tan
26727                        Domestic                Black
26728                        Domestic    Brown Tabby/White

                               breed1             breed2  \
0                   SHETLAND SHEEPDOG               NULL
1                            DOMESTIC               NULL
2                            PIT BULL               NULL
3                            DOMESTIC               NULL
4                          LHASA APSO   MINIATURE POODLE
5                       CAIRN TERRIER          CHIHUAHUA
6                            DOMESTIC               NULL
7                            DOMESTIC               NULL
8           AMERICAN PIT BULL TERRIER               NULL
9                       CAIRN TERRIER               NULL
10                           DOMESTIC               NULL
11                MINIATURE SCHNAUZER               NULL
12                           PIT BULL               NULL
13                  YORKSHIRE TERRIER               NULL
14                     GREAT PYRENEES               NULL
15                           DOMESTIC               NULL
16                           DOMESTIC               NULL
17                           PIT BULL               NULL
18                             ANGORA               NULL
19                FLAT COAT RETRIEVER               NULL
20                  QUEENSLAND HEELER               NULL
21                           DOMESTIC               NULL
22                        PLOTT HOUND              BOXER
23                    GERMAN SHEPHERD               NULL
24                    GERMAN SHEPHERD               NULL
25                           DOMESTIC               NULL
26     AMERICAN STAFFORDSHIRE TERRIER               NULL
27                          CHIHUAHUA               NULL
28                           DOMESTIC               NULL
29                       RUSSIAN BLUE               NULL
...                               ...                ...
26699       AMERICAN PIT BULL TERRIER               NULL
26700                  GREAT PYRENEES    ANATOL SHEPHERD
26701            JACK RUSSELL TERRIER               NULL
26702                         SIAMESE               NULL
26703                        DOMESTIC               NULL
26704                        DOMESTIC               NULL
26705                        DOMESTIC               NULL
26706                        DOMESTIC               NULL
26707                        DOMESTIC               NULL
26708                       CHIHUAHUA               NULL
26709                       CHIHUAHUA               NULL
26710                      CHIHUAHUA   YORKSHIRE TERRIER
26711                  COCKER SPANIEL          DACHSHUND
26712                     RAT TERRIER               NULL
26713                        DOMESTIC               NULL
26714                        DOMESTIC               NULL
26715                         POINTER               NULL
26716                    NEWFOUNDLAND               NULL
26717                     BULLMASTIFF               NULL
26718                  SIBERIAN HUSKY    GERMAN SHEPHERD
26719                        DOMESTIC               NULL
26720                        DOMESTIC               NULL
26721                        DOMESTIC               NULL
26722                        DOMESTIC               NULL
26723                   STAFFORDSHIRE               NULL
26724                        DOMESTIC               NULL
26725                        DOMESTIC               NULL
26726             OLD ENGLISH BULLDOG               NULL
26727                        DOMESTIC               NULL
26728                        DOMESTIC               NULL

                                  0_x         Group  \
0                   Shetland Sheepdog       Herding
1                                 NaN           NaN
2                                 NaN           NaN
3                                 NaN           NaN
4                          Lhasa Apso  Non_sporting
5                       Cairn Terrier       Terrier
6                                 NaN           NaN
7                                 NaN           NaN
8                                 NaN           NaN
9                       Cairn Terrier       Terrier
10                                NaN           NaN
11                Miniature Schnauzer       Terrier
12                                NaN           NaN
13                  Yorkshire Terrier           Toy
14                     Great Pyrenees       Working
15                                NaN           NaN
16                                NaN           NaN
17                                NaN           NaN
18                                NaN           NaN
19                                NaN           NaN
20                                NaN           NaN
21                                NaN           NaN
22                                NaN           NaN
23                                NaN           NaN
24                                NaN           NaN
25                                NaN           NaN
26     American Staffordshire Terrier       Terrier
27                          Chihuahua           Toy
28                                NaN           NaN
29                                NaN           NaN
...                               ...           ...
26699                             NaN           NaN
26700                  Great Pyrenees       Working
26701                             NaN           NaN
26702                             NaN           NaN
26703                             NaN           NaN
26704                             NaN           NaN
26705                             NaN           NaN
26706                             NaN           NaN
26707                             NaN           NaN
26708                       Chihuahua           Toy
26709                       Chihuahua           Toy
26710                             NaN           NaN
26711                  Cocker Spaniel      Sporting
26712                     Rat Terrier       Terrier
26713                             NaN           NaN
26714                             NaN           NaN
26715                         Pointer      Sporting
26716                    Newfoundland       Working
26717                     Bullmastiff       Working
26718                  Siberian Husky       Working
26719                             NaN           NaN
26720                             NaN           NaN
26721                             NaN           NaN
26722                             NaN           NaN
26723                             NaN           NaN
26724                             NaN           NaN
26725                             NaN           NaN
26726                             NaN           NaN
26727                             NaN           NaN
26728                             NaN           NaN

                                  0_y          size
0                   Shetland Sheepdog  Small Medium
1                                 NaN           NaN
2                                 NaN           NaN
3                                 NaN           NaN
4                          Lhasa Apso         Small
5                       Cairn Terrier         Small
6                                 NaN           NaN
7                                 NaN           NaN
8                                 NaN           NaN
9                       Cairn Terrier         Small
10                                NaN           NaN
11                Miniature Schnauzer         Small
12                                NaN           NaN
13                  Yorkshire Terrier         Small
14                                NaN           NaN
15                                NaN           NaN
16                                NaN           NaN
17                                NaN           NaN
18                                NaN           NaN
19                Flat Coat Retriever  Medium Large
20                                NaN           NaN
21                                NaN           NaN
22                                NaN           NaN
23                                NaN           NaN
24                                NaN           NaN
25                                NaN           NaN
26     American Staffordshire Terrier  Medium Large
27                          Chihuahua         Small
28                                NaN           NaN
29                                NaN           NaN
...                               ...           ...
26699                             NaN           NaN
26700                             NaN           NaN
26701                             NaN           NaN
26702                             NaN           NaN
26703                             NaN           NaN
26704                             NaN           NaN
26705                             NaN           NaN
26706                             NaN           NaN
26707                             NaN           NaN
26708                       Chihuahua         Small
26709                       Chihuahua         Small

In [740]:
train.head()

,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,breed1,breed2
AnimalID,,,,,,,,,,,
A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog,Brown/White,SHETLAND SHEEPDOG,NULL
A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic,Cream Tabby,DOMESTIC,NULL
A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull,Blue/White,PIT BULL,NULL
A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic,Blue Cream,DOMESTIC,NULL
A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan,LHASA APSO,MINIATURE POODLE

In [698]:
train.head(3)

,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
AnimalID,,,,,,,,,
A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White

In [699]:
test.head(3)

,Name,DateTime,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
ID,,,,,,,
1,Summer,2015-10-12 12:15:00,Dog,Intact Female,10 months,Labrador Retriever Mix,Red/White
2,Cheyenne,2014-07-26 17:59:00,Dog,Spayed Female,2 years,German Shepherd/Siberian Husky,Black/Tan
3,Gus,2016-01-13 12:20:00,Cat,Neutered Male,1 year,Domestic Shorthair Mix,Brown Tabby

Removendo a coluna **OutcomeSubtype**, porque ela não existe no test. <br />
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html

In [700]:
train.head()

,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
AnimalID,,,,,,,,,
A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan

In [701]:
generateFrequencyFeatures(train,test)
generate_features(train, True)
generate_features(test)

train.head()

,OutcomeType,AnimalType,Date,outcomes,Transfer,Return_to_owner,Euthanasia,Adoption,Died,has_name,...,mix,shorthair,mediumhair,longhair,breed1,breed2,tabby,color1,color2,unicolor
AnimalID,,,,,,,,,,,,,,,,,,,,,
A671945,Return_to_owner,Dog,2014-02-01,0.024356,0.314900,0.213518,0.066052,0.400922,0.004608,True,...,True,False,False,False,SHETLAND SHEEPDOG,NULL,False,Brown,White,False
A656520,Euthanasia,Cat,2013-10-01,0.036440,0.391170,0.152977,0.074949,0.368583,0.012320,True,...,True,True,False,False,DOMESTIC,NULL,True,Cream,null,True
A686464,Adoption,Dog,2015-01-01,0.028434,0.257895,0.223684,0.065789,0.447368,0.005263,True,...,True,False,False,False,PIT BULL,NULL,False,Blue,White,False
A683430,Transfer,Cat,2014-07-01,0.048936,0.371560,0.113150,0.061927,0.442661,0.010703,False,...,True,True,False,False,DOMESTIC,NULL,False,Blue Cream,null,True
A667013,Transfer,Dog,2013-11-01,0.030042,0.330012,0.179328,0.061021,0.425903,0.003736,False,...,False,False,False,False,LHASA APSO,MINIATURE POODLE,False,Tan,null,True

In [702]:
train.describe()

,outcomes,Transfer,Return_to_owner,Euthanasia,Adoption,Died,day,month,year,hour,minute,day_of_week,quarter,weekofyear,season,holiday,age
count,26729.000000,26729.000000,26729.000000,26729.000000,26729.000000,26729.000000,26729.000000,26729.000000,26729.000000,26729.000000,26729.000000,26729.000000,26729.000000,26729.000000,26729.000000,26729.000000,26729.000000
mean,0.035781,0.352501,0.179056,0.058177,0.402896,0.007370,15.698343,6.925736,2014.430731,14.445396,27.681170,3.106364,2.653111,28.471959,1.653111,0.407722,793.595308
std,0.006677,0.057440,0.037622,0.015247,0.053892,0.003660,8.770496,3.495869,0.741408,3.337331,18.189427,2.046001,1.126961,15.326826,1.126961,1.787694,1082.662074
min,0.020352,0.242647,0.113150,0.025516,0.274463,0.001081,1.000000,1.000000,2013.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,-1.000000
25%,0.031352,0.314248,0.149197,0.053422,0.358942,0.004521,8.000000,4.000000,2014.000000,12.000000,12.000000,1.000000,2.000000,16.000000,1.000000,0.000000,60.000000
50%,0.035392,0.367206,0.176674,0.063126,0.408549,0.007692,16.000000,7.000000,2014.000000,15.000000,27.000000,3.000000,3.000000,29.000000,2.000000,0.000000,365.000000
75%,0.039882,0.400705,0.220588,0.068815,0.442857,0.010703,23.000000,10.000000,2015.000000,17.000000,43.000000,5.000000,4.000000,42.000000,3.000000,0.000000,1095.000000
max,0.048936,0.455603,0.242898,0.081986,0.498162,0.014286,31.000000,12.000000,2016.000000,23.000000,59.000000,6.000000,4.000000,53.000000,3.000000,10.000000,7300.000000

In [703]:
breed_train = np.append(train['breed1'], train['breed2'])
breed_test = np.append(test['breed1'], test['breed2'])
le = LabelEncoder().fit(np.append(breed_train, breed_test))
train['breed1'] = le.transform(train['breed1'])
test['breed1'] = le.transform(test['breed1'])
train['breed2'] = le.transform(train['breed2'])
test['breed2'] = le.transform(test['breed2'])

In [704]:
color_train = np.append(train['color1'], train['color2'])
color_test = np.append(test['color1'], test['color2'])
le = LabelEncoder().fit(np.append(color_train, color_test))
train['color1'] = le.transform(train['color1'])
test['color1'] = le.transform(test['color1'])
train['color2'] = le.transform(train['color2'])
test['color2'] = le.transform(test['color2'])

In [705]:
for col in ['AnimalType','Date']:
    le = LabelEncoder().fit(np.append(train[col], test[col]))
    train[col] = le.transform(train[col])
    test[col] = le.transform(test[col])

Convertendo campo categórico para número inteiro, porque os modelos matemáricos do sklearn só aceitam números. <br />
Utilizando: http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html

Separando o TARGET do meu treino.

In [706]:
target = train['OutcomeType']
data   = train.drop('OutcomeType', axis=1)

In [707]:
train.head()

,OutcomeType,AnimalType,Date,outcomes,Transfer,Return_to_owner,Euthanasia,Adoption,Died,has_name,...,mix,shorthair,mediumhair,longhair,breed1,breed2,tabby,color1,color2,unicolor
AnimalID,,,,,,,,,,,,,,,,,,,,,
A671945,Return_to_owner,1,4,0.024356,0.314900,0.213518,0.066052,0.400922,0.004608,True,...,True,False,False,False,193,154,False,15,55,False
A656520,Euthanasia,0,0,0.036440,0.391170,0.152977,0.074949,0.368583,0.012320,True,...,True,True,False,False,85,154,True,25,58,True
A686464,Adoption,1,15,0.028434,0.257895,0.223684,0.065789,0.447368,0.005263,True,...,True,False,False,False,169,154,False,7,55,False
A683430,Transfer,0,9,0.048936,0.371560,0.113150,0.061927,0.442661,0.010703,False,...,True,True,False,False,85,154,False,9,58,True
A667013,Transfer,1,1,0.030042,0.330012,0.179328,0.061021,0.425903,0.003736,False,...,False,False,False,False,135,144,False,50,58,True

Executando o método random forest classifier do sklearn.<br />
http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

In [708]:
target.head()

AnimalID
A671945    Return_to_owner
A656520         Euthanasia
A686464           Adoption
A683430           Transfer
A667013           Transfer
Name: OutcomeType, dtype: object

In [709]:
clf = xgb.XGBClassifier(max_depth=7, n_estimators=250, learning_rate=0.05, silent=1, objective='multi:softprob',
                        subsample=0.55,colsample_bytree=0.65)
fit = clf.fit(data, target)
proba = fit.predict_proba(test)

<hr />
Salvando em arquivo CSV para enviar ao Kaggle

In [710]:
proba = fit.predict_proba(test)
ret = pd.DataFrame(proba, index=test.index, columns=fit.classes_)
ret.sort_index(inplace=True)
ret.to_csv('output/submission.csv', index_label="ID")

In [711]:
cross_validation.cross_val_score(clf, data, target, scoring='log_loss')

array([-0.73897436, -0.73514682, -0.72964329])

array([-0.73897436, -0.73514682, -0.72964329]) - 250 novas features (sem breed)

array([-0.74055679, -0.73587788, -0.72771282]) 250

array([-0.74086091, -0.73629684, -0.72751988]) 300

array([-0.74145022, -0.73730085, -0.72769767]) 325

array([-0.73915104, -0.73577702, -0.72817969])

array([-0.74346893, -0.73752276, -0.72980024])

array([-0.74321041, -0.73832364, -0.73052855])

array([-0.74873247, -0.74552813, -0.73572743])

array([-0.75646983, -0.74827674, -0.74707565])

array([-0.75622374, -0.75086099, -0.74849421])

array([-0.75715345, -0.75192073, -0.74662878]) - estimators = 325

array([-0.75753229, -0.75203215, -0.74645084]) - estimators = 350

array([-0.75726917, -0.75237363, -0.74653154]) - depth = 6

array([-0.76324843, -0.75360441, -0.74913675])

array([-0.76832682, -0.76022552, -0.75612068])

array([-0.77868186, -0.76961524, -0.7654266 ])

array([-0.80053641, -0.79496805, -0.79203674])

array([-0.87241774, -0.86908006, -0.85758873])

array([-0.90137227, -0.89607375, -0.89042396])


**Fim** <br />
Esse notebook é um exemplo mais simples que podemos fazer o uso do Machine Learning com a bibioteca Python + Sklearn. <br /><br />
Existem algumas evolutivas que podem ser feitas para uma melhor performance:
- adicionar novas features
- fazer uso cross-validation para fazer testes
- fazer o uso de ensembling para melhorar o seu score no final
- Testar com diferentes parâmetros no seu método.
- Etc...

O próximo notebook criarei um exemplo usando o Cross-Validation e criando novas features.

In [274]:
clf = RandomForestClassifier(n_estimators=200)
fit = clf.fit(data, target)
proba = fit.predict_proba(test)
cross_validation.cross_val_score(clf, data, target, scoring='log_loss')

array([-0.74670811, -0.75986422, -0.7324921 ])

In [275]:
ret = pd.DataFrame(proba, index=test.index, columns=fit.classes_)
ret.sort_index(inplace=True)
ret.to_csv('output/submission.csv', index_label="ID")